<div class="relative bg-gray-100 border-b">
  <div class="max-w-7xl mx-auto py-4 px-3 sm:px-6 lg:px-8">
    <div class="sm:text-center sm:px-16">
      <p class="text-gray-600">
        <span>Showing <span class="font-bold">20</span> of <span class="font-bold">200</span> developers.</span>
        <span class="ml-2">
          <%= link_to "Reset filters", developers_path, class: "text-gray-700 underline" %>
        </span>
      </p>
    </div>
  </div>
</div>
